@-moz-keyframes blink {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}
@-o-keyframes blink {
    to {
        visibility: hidden;
    }
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}

.arrow_img {
    width: 66%;
}

body {
    margin: 0;
    padding-top: 2.5%;
    height: 100vh;
    background-image: url(/img/gbcBG.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.instructions {
    margin-top: 12em;
    width: 50%;
    /* background-color: yellowgreen; */
    text-align: center;
}
.instructions p {
    font-family: "Press Start 2P", cursive;
    color: white;
    font-size: 1.1em;
}

.key_image {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: auto;
}

.start_btn {
    text-decoration-line: none;
    font-size: 2em;
    font-family: "Press Start 2P", cursive;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
    animation: blink 1s steps(4, start) infinite;
}

.start_btn a {
    color: white;
    text-decoration: none;
    box-shadow: none;
}

.start-screen {
    background-image: url("../img/startscreen.png");
    background-size: cover;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
