a {
  color: #000000;
  font-size: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  background: white;
  border-bottom: black;
}
.canvasPosition {
  display: flex;
  justify-content: center;
  padding-top: 2.5%;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background-image: url(/img/gbcBG.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.startScreen a {
  text-decoration-line: none;
}
